/* .sidebar {
  background-color: #FDC550; 
  
  width: 270px; 
  height: 100%;
  position: fixed; 
  left: 0; 
  top: 0; 
  bottom: 0; 
  box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.3); 
  font-family: 'Louis George Cafe Light', sans-serif; 
}

.sidebar p {
  
  font-family: 'Louis George Cafe Light', sans-serif;
  font-size: 30px;
  font-weight: 300; 
  margin: 20px 0;
}

.content {
  
  margin-top: 80px;
  padding: 55px;
  overflow-x: hidden; 
  z-index: -10;
}

.heading {

  
  font-family: 'Louis George Cafe Bold', sans-serif; 
  font-size: 45px;
  color: black; 
  padding: 22px 30px; 
  display: inline-block;
}

.imageOverlay {
  z-index: 1;
}

.active {
  
  font-size: 25px;
  color: white;
  padding: 10px;
  background-color: #f37b3e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-top: 0px;
  margin-left: 25px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar p:hover {
  
  font-size: 25px;
  color: white;
  padding: 10px;
  background-color: #f37b3e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  margin-top: 0px;
  margin-left: 25px;
  cursor: pointer; 
  font-weight: bold; 
}


 */
